<div class="bstdd-container hide">
  <div class="bstdd-content">
    <ul class="menu-list">
      <li>
        <a href="/collections/chic-en-ville/">CHIC EN VILLE</a>
      </li>
      <li>
        <a href="/collections/margarita/">MARGARITA</a>
      </li>
      <li>
        <a href="/collections/morden-movement">MORDEN MOVEMENT</a>
      </li>
      <li>
        <a href="/collections/dreamscape">DREAMSCAPE</a>
      </li>
      <li>
        <a href="/collections/terfly/">TERFLY</a>
      </li>
      <li>
        <a href="/collections/office-core/">OFFICE CORE</a>
      </li>
      <li>
        <a href="/collections/note-to-self">NOTE TO SELF</a>
      </li>
    </ul>
  </div>
</div>