<div class="productdd-container hide">
  <div class="productdd-content">
    <ul class="menu-list">
      <li>
        <a href="/collections/dam-ngan/">ĐẦM NGẮN</a>
      </li>
      <li>
        <a href="/collections/dam-dai/">ĐẦM DÀI</a>
      </li>
      <li>
        <a href="/collections/ao-kieu/">ÁO KIỂU</a>
      </li>
      <li>
        <a href="/collections/ao-khoac/">ÁO KHOÁC</a>
      </li>
      <li>
        <a href="/collections/chan-vay/">CHÂN VÁY</a>
      </li>
      <li>
        <a href="/collections/quan/">QUẦN</a>
      </li>
      <li>
        <a href="/collections/set/">ĐỒ BỘ</a>
      </li>
    </ul>
  </div>
</div>