{% extends 'layouts/default.html' %}

{% block main %}
  {% for message in messages %}
    <div>{{message}}</div>
  {% endfor %}
  <h1>Welcome to web</h1>
  {% for variant in variants %}
    <div>{{variant.id}}</div>
    <div>{{variant}}</div>
    <div>{{variant.product.sale_price}}</div>
  {% endfor %}
  {% for product in products %}
  <div class="product-container">
    <a href="/products/{{product.slug}}">{{product.title}}</a>
    <img src="{{product.thumbnail}}" width="100px" height="auto" alt="Ảnh Sản Phẩm">
    <button value="{{product.id}}" class="btn btn-success" id="add-cart">Add To Cart</button>
    {% if product.is_sale %}
    <span>-{{product.discount}}%</span>
    <span>{{product.sale_price}}</span>
    <strike>{{product.price}}</strike>
    {% endif %}
    <a href="/collections/ao-kieu">hihi</a>
  </div>
  {% endfor %} 
{% endblock %}