{% extends 'layouts/default.html' %}

{% block main %}
  <div>Đang xử lý đơn hàng</div>
  {% for item in cart_products%}
  {% if item.is_sale %}
    <div>
      {{item}} ---  Giá: {{item.sale_price}}
    </div>
      {% for key, value in quantities.items%}
        {% if key == item.id|slugify %}
          Số Lượng : {{value}}
        {% endif %}
      {% endfor %}
  {% else %}
    <div>
      {{item}} --- Giá: {{item.price}}
    </div>
      {% for key, value in quantities.items%}
        {% if key == item.id|slugify %}
          Số Lượng : {{value}}
        {% endif %}
      {% endfor %}
  {% endif %}
  {% endfor %}
  <br><br>
  <div><strong>Tống Giá: </strong> {{totals}} VNĐ</div>
  <br>
  <a href="/cart/">Chỉnh Sửa Giỏ Hàng</a>
  <br><br>
  <h3>Thông Tin Vận Chuyển</h3>
  <div>  
    Họ Tên: {{ shipping_info.shipping_full_name }} <br><br>
    Địa Chỉ Email: {{ shipping_info.shipping_email }} <br><br>
    Địa Chỉ: {{ shipping_info.shipping_address }} <br><br>
    Thành Phố: {{ shipping_info.shipping_city }} <br><br>
    Tỉnh: {{ shipping_info.shipping_state }} <br><br>
  </div>
  <a href="/payment/checkout/" class="btn btn-primary">Chỉnh Sửa Địa Chỉ</a>
  <br><br>
  <h3>Thông Tin Thanh Toán</h3>
  <div>
    <form action="/payment/process_order/" method="POST">
      {% csrf_token %}
      {{ billing_form.as_p }}
      <button type="submit" class="btn btn-success">Mua Ngay</button>
    </form>
  </div>

{% endblock %}

