{% extends 'layouts/default.html' %}

{% block main %}
  {% include '../../partials/alert.html' %}
  <h1>Welcome to web</h1>
  {% for product in products %}
  <div class="product-container">
    <a href="/products/{{product.slug}}">{{product.title}}</a>
    <img img-2="{{product.image_2}}" img-1="{{product.image_1}}" src="{{product.image_1}}" width="100px" height="auto" alt="Ảnh Sản Phẩm">
    {% if product.is_sale %}
    <span>-{{product.discount}}%</span>
    <span>{{product.sale_price}}</span>
    <strike>{{product.price}}</strike>
    {% endif %}
  </div>
  {% endfor %} 
{% endblock %}