{% extends 'layouts/default.html' %}

{% block main %}
{% include '../../partials/alert.html' %}
  <div class="container">
    <div class="row">
      <center>
        <div class="col-8">
          <h3>Đơn Hàng Đang Giao</h3>
          <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">Đơn Hàng</th>
                <th scope="col">Họ Tên</th>
                <th scope="col">Số Điện Thoại</th>
                <th scope="col">Giá</th>
                <th scope="col">Ngày Đặt Hàng</th>
                <th scope="col">Xét Trạng Thái</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
                <tr>
                  <td><a href="/payment/order/{{order.id}}/">{{ order.id }}</a></td>
                  <td>{{ order.full_name }}</td>
                  <td>{{ order.phone }}</td>
                  <td>{{ order.amount_paid }} VNĐ</td>
                  <td>{{ order.date_ordered }}</td>
                  <td>
                    <form method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="num" value="{{ order.id }}">
                      <button type="submit" class="btn btn-outline-success">Đã Giao</button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </center>
    </div>
  </div>
{% endblock %}
